<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
      <env-entry>
        <env-entry-name>HOST</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>192.168.10.43</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>PORT</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>20002</env-entry-value>
    </env-entry>
          <env-entry>
        <env-entry-name>encryptionHOST</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>localhost</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>encryptionPORT</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>8089</env-entry-value>
    </env-entry>
       <env-entry>
        <env-entry-name>encryptionKEY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>own2morrow</env-entry-value>
    </env-entry>
      <env-entry>
        <env-entry-name>OFSsource</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>NambuitChannels</env-entry-value>
    </env-entry>   
         <env-entry>
        <env-entry-name>DBuser</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>inlaks</env-entry-value>        
    </env-entry>
         <env-entry>
        <env-entry-name>DBpass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>own2morrow</env-entry-value>
    </env-entry>  
         <env-entry>
        <env-entry-name>DBserver</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>localhost</env-entry-value>
    </env-entry> 
    <env-entry>
        <env-entry-name>ISO_OFSsource</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>ATM</env-entry-value>
    </env-entry> 
         <env-entry>
        <env-entry-name>OFSuser</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>INPUTT</env-entry-value>
    </env-entry>
        <env-entry>
        <env-entry-name>OFSpass</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>123456</env-entry-value>
    </env-entry>          
      <env-entry>
        <env-entry-name>ImageBase</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:\Temenos\Modelbank-R13\3rdParty\jboss\server\default\deploy\BrowserWeb.war</env-entry-value>
    </env-entry>  
    <env-entry>
        <env-entry-name>LogDir</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:\Users\Temitope\Documents\Youcam\logs</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>ISOLogListenerDir</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>C:\Users\Temitope\Documents\Youcam</env-entry-value>
    </env-entry>
        <env-entry>
        <env-entry-name>T24Framework</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>TAFC</env-entry-value>
    </env-entry>
     
</web-app>
